Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "vitest related --run --reporter=verbose"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": ["sql-formatter --fix"]
}

test: enhance optimization workflow tests
  data/lake/runs/run_id=slice_export_full_1769300667/slices/ohlcv/interval=1m/window=pre52_post4948/mint_bucket=00/part-0000.parquet
  data/lake/runs/run_id=slice_export_full_1769300667/slices/ohlcv/interval=1m/window=pre52_post4948/mint_bucket=01/part-0000.parquet
  data/lake/runs/run_id=slice_export_full_1769300667/slices/ohlcv/interval=1m/window=pre52_post4948/mint_bucket=02/part-0000.parquet
  data/lake/runs/run_id=slice_export_full_1769300667/slices/ohlcv/interval=1m/window=pre52_post4948/mint_bucket=03/part-0000.parquet
  packages/cli/src/handlers/ohlcv/token-lifespan.ts
  packages/jobs/src/ohlcv-ingestion-engine.ts
  packages/workflows/src/market-data/fetchHistoricalPrices.ts
  packages/workflows/tests/integration/research/optimization-workflow.test.ts
  packages/workflows/tests/unit/research/phases/backtest-optimization.test.ts
  packages/workflows/tests/unit/research/phases/lab-sweep-discovery.test.ts
  packages/workflows/tests/unit/research/phases/stress-validation.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Add data/ directory requirement to project rules
  .cursor/rules/50-no-root-trophies.mdc
  .cursorrules
  .gitignore
  data/.gitkeep
  data/README.md
Due: prettier --write

docs: add research package roadmap and phase implementation documents
  CHANGELOG.md
  tasks/research-package/README.md
  tasks/research-package/phase-1-artifact-store-integration.md
  tasks/research-package/phase-2-projection-builder.md
  tasks/research-package/phase-3-experiment-tracking.md
  tasks/research-package/phase-4-experiment-execution.md
  tasks/research-package/phase-5-cli-integration.md
  tasks/research-package/phase-6-alert-ingestion-integration.md
  tasks/research-package/phase-7-ohlcv-slice-integration.md
  tasks/research-package/roadmap.md
Due: prettier --write

docs: mark Phase I as complete in roadmap and CHANGELOG
  CHANGELOG.md
  tasks/research-package/phase-1-artifact-store-integration.md
  tasks/research-package/roadmap.md
Due: prettier --write

feat(research): Complete Phase II - Projection Builder
  CHANGELOG.md
  packages/cli/src/core/command-context.ts
  packages/core/src/ports/index.ts
  packages/core/src/ports/projection-builder-port.ts
  packages/storage/src/adapters/projection-builder-adapter.ts
  packages/storage/src/index.ts
  packages/storage/tests/integration/projection-builder-adapter.test.ts
  packages/storage/tests/unit/adapters/projection-builder-adapter.test.ts
  tasks/research-package/phase-2-projection-builder.md
  tasks/research-package/roadmap.md
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(research): Phase III - Experiment Tracking complete
  CHANGELOG.md
  docs/implementation/phase-3-experiment-tracking-summary.md
  packages/cli/src/core/command-context.ts
  packages/core/src/ports/experiment-tracker-port.ts
  packages/core/src/ports/index.ts
  packages/storage/src/adapters/experiment-tracker-adapter.ts
  packages/storage/src/index.ts
  packages/storage/tests/integration/experiment-tracker-adapter.test.ts
  packages/storage/tests/unit/adapters/experiment-tracker-adapter.test.ts
  tasks/research-package/phase-3-experiment-tracking.md
  tasks/research-package/roadmap.md
  tools/storage/experiment_tracker_ops.py
  tools/storage/experiment_tracker_schema.sql
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

fix(tests): Fix projection builder integration tests
  packages/core/src/ports/artifact-store-port.ts
  packages/core/src/ports/index.ts
  packages/core/src/ports/projection-builder-port.ts
  packages/storage/src/adapters/artifact-store-adapter.ts
  packages/storage/src/adapters/projection-builder-adapter.ts
  packages/storage/tests/integration/artifact-store-adapter.test.ts
  packages/storage/tests/integration/projection-builder-adapter.test.ts
  packages/storage/tests/unit/adapters/artifact-store-adapter.test.ts
  packages/storage/tests/unit/adapters/projection-builder-adapter.test.ts
  tools/backup/.run_counter
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(projection-builder): Address critical security and architectural issues
  CHANGELOG.md
  docs/implementation/phase-4-experiment-execution-summary.md
  docs/reviews/phase-1-artifact-store-review.md
  docs/reviews/phase-2-projection-builder-review.md
  packages/core/src/ports/projection-builder-port.ts
  packages/storage/src/adapters/artifact-store-adapter.ts
  packages/storage/src/adapters/experiment-tracker-adapter.ts
  packages/storage/src/adapters/projection-builder-adapter.ts
  packages/storage/tests/integration/experiment-tracker-adapter.test.ts
  packages/storage/tests/unit/adapters/projection-builder-adapter.test.ts
  packages/workflows/src/experiments/artifact-validator.ts
  packages/workflows/src/experiments/handlers/execute-experiment.ts
  packages/workflows/src/experiments/index.ts
  packages/workflows/src/experiments/result-publisher.ts
  packages/workflows/src/experiments/simulation-executor.ts
  packages/workflows/src/experiments/types.ts
  packages/workflows/src/index.ts
  packages/workflows/tests/integration/experiments/execute-experiment.test.ts
  packages/workflows/tests/unit/experiments/execute-experiment.test.ts
  tasks/research-package/phase-4-experiment-execution.md
  tasks/research-package/roadmap.md
  test-temp/phase1-test-1769645711537/inputs/phase1-overlays.json
  tools/storage/experiment_tracker_ops.py
  tools/telegram/tests/fixtures/invalid.json
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: implement Phase IV - Experiment Execution
  packages/workflows/src/experiments/handlers/execute-experiment.ts
  packages/workflows/src/experiments/simulation-executor.ts
  test-temp/phase1-test-1769645711537/inputs/phase1-overlays.json
  tools/telegram/tests/fixtures/invalid.json
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: implement Phase IV - Experiment Execution
  packages/workflows/src/experiments/artifact-validator.ts
  packages/workflows/src/experiments/handlers/execute-experiment.ts
  packages/workflows/src/experiments/index.ts
  packages/workflows/src/experiments/result-publisher.ts
  packages/workflows/src/experiments/simulation-executor.ts
  packages/workflows/src/experiments/types.ts
  packages/workflows/tests/integration/experiments/execute-experiment.test.ts
  packages/workflows/tests/unit/experiments/execute-experiment.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(research): Complete Phase III integration tests - all 27 tests passing
  CHANGELOG.md
  docs/implementation/phase-3-experiment-tracking-summary.md
  docs/reviews/phase-1-4-architecture-review.md
  docs/reviews/phase-1-artifact-store-review.md
  docs/reviews/phase-2-critical-review.md
  packages/cli/src/core/command-context.ts
  packages/storage/src/adapters/artifact-store-adapter.ts
  packages/storage/src/adapters/projection-builder-adapter.ts
  test-temp/phase1-test-1769645882454/inputs/phase1-overlays.json
  tools/storage/artifact_store_ops.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: critical review of Phase II - architectural violation detected
  docs/reviews/phase-2-critical-review.md
Due: prettier --write

refactor(projection-builder): Dramatically improve code quality to enterprise-grade
  docs/reviews/phase-1-artifact-store-review.md
  docs/reviews/phase-2-projection-builder-review.md
  packages/cli/src/core/command-context.ts
  packages/storage/src/adapters/artifact-store-adapter.ts
  packages/storage/src/adapters/projection-builder-adapter.ts
  packages/storage/tests/unit/adapters/projection-builder-adapter-security.test.ts
  tools/storage/artifact_store_ops.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

test: fix Phase IV unit tests and add test results review
  docs/reviews/phase-4-test-results.md
  packages/workflows/tests/unit/experiments/execute-experiment.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: update Phase IV test results - DuckDB binding resolved
  docs/reviews/phase-4-test-results.md
Due: prettier --write

fix: resolve DuckDB configuration and Python import issues
  docs/reviews/phase-4-test-results.md
  packages/infra/src/storage/adapters/duckdb/duckdbClient.ts
  packages/storage/src/adapters/artifact-store-adapter.ts
  packages/workflows/tests/integration/experiments/execute-experiment.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: resolve timestamp casting and integration test issues
  packages/artifact_store/artifact_store/spec.py
  packages/storage/src/adapters/projection-builder-adapter.ts
  packages/workflows/tests/integration/experiments/execute-experiment.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update simulation executor to use correct column names and DuckDB API
  packages/workflows/src/experiments/simulation-executor.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Phase 5 RunSet + Resolver enhancement summary
  docs/reviews/phase-5-runset-enhancement.md
  packages/core/src/domain/runs/index.ts
  packages/core/src/ports/index.ts
  test-temp/phase1-test-1769653908906/inputs/phase1-overlays.json
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Update roadmap with Phase V completion and RunSet enhancement
  tasks/research-package/roadmap.md
Due: prettier --write

feat(cli): RunSet CLI commands + experiment integration
  CHANGELOG.md
  docs/guides/runset-cli-guide.md
  packages/cli/src/bin/quantbot.ts
  packages/cli/src/command-defs/registry.ts
  packages/cli/src/command-defs/research-experiments.ts
  packages/cli/src/command-defs/runset.ts
  packages/cli/src/commands/ingestion.ts
  packages/cli/src/commands/registry.ts
  packages/cli/src/commands/research.ts
  packages/cli/src/commands/runset.ts
  packages/cli/src/handlers/ingestion/ingest-telegram-alerts.ts
  packages/cli/src/handlers/ohlcv/export-slice.ts
  packages/cli/src/handlers/registry/rebuild.ts
  packages/cli/src/handlers/research/experiments/create-experiment.ts
  packages/cli/src/handlers/runset/create-runset.ts
  packages/cli/src/handlers/runset/freeze-runset.ts
  packages/cli/src/handlers/runset/get-runset.ts
  packages/cli/src/handlers/runset/list-runsets.ts
  packages/cli/src/handlers/runset/resolve-runset.ts
  packages/cli/tests/unit/handlers/registry/rebuild.test.ts
  packages/cli/tests/unit/handlers/runset/create-runset.test.ts
  packages/infra/src/utils/python/python-engine.ts
  packages/ingestion/src/alerts/normalize.ts
  packages/ingestion/src/alerts/quarantine.ts
  packages/ingestion/src/alerts/validate.ts
  packages/ingestion/src/handlers/ingest-telegram-alerts.ts
  packages/ingestion/src/index.ts
  packages/ohlcv/src/clickhouse/query-builder.ts
  packages/ohlcv/src/handlers/export-ohlcv-slice.ts
  packages/ohlcv/src/index.ts
  packages/ohlcv/src/parquet/writer.ts
  packages/storage/tests/integration/artifact-store-adapter.test.ts
  tools/storage/artifact_store_ops.py
  tools/storage/write_parquet.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Phase V final summary and completion
  docs/reviews/phase-5-final-summary.md
  packages/cli/src/commands/ingestion.ts
  packages/cli/src/commands/ohlcv.ts
  packages/cli/tests/unit/handlers/ohlcv/export-slice.test.ts
  packages/ingestion/tests/unit/alerts/normalize.test.ts
  packages/ingestion/tests/unit/alerts/quarantine.test.ts
  packages/ingestion/tests/unit/alerts/validate.test.ts
  packages/ohlcv/tests/integration/export-ohlcv-slice.test.ts
  packages/ohlcv/tests/unit/clickhouse-query-builder.test.ts
  packages/ohlcv/tests/unit/coverage-validator.test.ts
  packages/storage/tests/integration/artifact-store-adapter.test.ts
  tools/storage/artifact_store_ops.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: Phase VII - OHLCV Slice Integration (Research Package)
  CHANGELOG.md
  docs/implementation/phase-7-ohlcv-slice-integration-summary.md
  packages/cli/src/handlers/ohlcv/export-slice.ts
  packages/cli/tests/unit/handlers/ohlcv/export-slice.test.ts
  packages/ohlcv/src/clickhouse/query-builder.ts
  packages/ohlcv/src/coverage/validator.ts
  packages/ohlcv/src/handlers/export-ohlcv-slice.ts
  packages/ohlcv/src/index.ts
  packages/ohlcv/src/parquet/writer.ts
  packages/ohlcv/tests/integration/export-ohlcv-slice.test.ts
  packages/ohlcv/tests/unit/clickhouse-query-builder.test.ts
  packages/ohlcv/tests/unit/coverage-validator.test.ts
  tasks/research-package/phase-7-ohlcv-slice-integration.md
  tasks/research-package/roadmap.md
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose
