Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

feat(backtest): add --entry-mode and --slippage-bps for clean entry semantics
  scripts/run_baseline_all.py
Due: none

fix(backtest): auto-migrate alert_results_f schema when columns change
  scripts/run_baseline_all.py
Due: none

feat(backtest): add comprehensive timing/drawdown sections to summary output
  scripts/run_baseline_all.py
Due: none

feat(backtest): add p95 ATH and consolidate hit% display
  scripts/run_baseline_all.py
Due: none

feat(backtest): add p95_ath and hit4x/5x% to caller leaderboard
  scripts/run_baseline_all.py
Due: none

feat(backtest): add timing metrics per caller in leaderboard
  scripts/run_baseline_all.py
Due: none

fix(backtest): restore median_dd_pre2x_pct column in caller leaderboard
  scripts/run_baseline_all.py
Due: none

refactor(backtest): shorten caller leaderboard column headers
  scripts/run_baseline_all.py
Due: none

feat(scoring): add caller_scored_v2 leaderboard with risk-adjusted scoring
  scripts/create_caller_scored_v2.sh
  scripts/create_caller_scored_v2.sql
  scripts/run_baseline_all.py
  tools/backtest/lib/storage.py
  tools/backtest/lib/summary.py
  tools/backtest/run_baseline_all.py
Due: sql-formatter --fix

feat(backtest): add sacred run contracts, metrics, scoring views & risk sizing
  tools/backtest/baseline
  tools/backtest/caller_groups/.gitkeep
  tools/backtest/caller_groups/top_10.json
  tools/backtest/lib/__init__.py
  tools/backtest/lib/caller_groups.py
  tools/backtest/lib/metrics_contract.py
  tools/backtest/lib/optimizer.py
  tools/backtest/lib/optimizer_config.py
  tools/backtest/lib/partitioner.py
  tools/backtest/lib/risk_sizing.py
  tools/backtest/lib/run_contract.py
  tools/backtest/lib/scoring.py
  tools/backtest/lib/scoring_views.py
  tools/backtest/lib/strategy_config.py
  tools/backtest/lib/timing.py
  tools/backtest/lib/tp_sl_query.py
  tools/backtest/manage_caller_groups.py
  tools/backtest/run_optimizer.py
  tools/backtest/run_strategy.py
Due: prettier --write

feat(optimizer): add trial ledger for persistent experiment tracking
  tools/backtest/lib/__init__.py
  tools/backtest/lib/trial_ledger.py
  tools/backtest/list_runs.py
  tools/backtest/run_optimizer.py
  tools/backtest/run_walk_forward.py
Due: none

feat(optimizer): Add R-space objective function with penalties/boosts
  README.md
  RECOVERY_INSTRUCTIONS.md
  packages/lab-ui/src/api.ts
  packages/simulation/src/backtest-baseline-service.ts
  packages/utils/tests/workspace-root.test.ts
  results/optimizer/22c25214b8464659acff5bc9de12df51_results.json
  results/optimizer/49158a90a3234c05bf7f9952ec6f519b_results.json
  results/optimizer/6e6e9e00bc394bafb920fc854e9923cd_results.json
  results/walk_forward/2e92aa08e7e3_walk_forward.json
  results/walk_forward/3008baee3e9d_walk_forward.json
  results/walk_forward/c2583d53ae30_walk_forward.json
  results/walk_forward/edbb320cab16_walk_forward.json
  tools/backtest/baseline
  tools/backtest/lib/__init__.py
  tools/backtest/lib/optimizer.py
  tools/backtest/lib/optimizer_objective.py
  tools/backtest/lib/summary.py
  tools/backtest/lib/trial_ledger.py
  tools/backtest/run_walk_forward.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(optimizer): add objective function with DD penalty, time boost, tail bonus
  tools/backtest/lib/__init__.py
  tools/backtest/lib/optimizer_objective.py
Due: none

feat(optimizer): integrate objective scoring and extended exits foundation
  tools/backtest/lib/__init__.py
  tools/backtest/lib/extended_exits.py
  tools/backtest/lib/trial_ledger.py
Due: none

fix(optimizer): integrate score_from_summary and fix print_objective_breakdown
  packages/backtest/src/optimization/scoring.ts
  packages/backtest/src/runPathOnly.ts
  packages/backtest/src/runPolicyBacktest.ts
  packages/backtest/src/types.ts
  packages/utils/src/index.ts
  packages/utils/src/timing.ts
  results/optimizer/17e1cf1efd264abe9319ad8125a96840_results.json
  results/optimizer/fe67efc3abec4677bf4d463d1ae29cd4_results.json
  results/walk_forward/4a86dd2bed60_walk_forward.json
  results/walk_forward/9a2ac4443af6_walk_forward.json
  results/walk_forward/d07a0fdf652e_walk_forward.json
  scripts/timing.py
  tools/backtest/lib/__init__.py
  tools/backtest/lib/optimizer.py
  tools/backtest/lib/optimizer_config.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(baseline): add extended exit CLI flags
  results/optimizer/5f8ecbc6c31444ef8dd0d6aeba562aec_results.json
  results/optimizer/7be62e66cf9c4fe9a7358806c92390f0_results.json
  results/optimizer/c01245e80f154cceb7659787e101a1a1_results.json
  results/optimizer/ef2b36e728204740a62e3db753fce980_results.json
  results/optimizer/f413c7dfa71d41a7b9776ac41a1eb236_results.json
  tools/backtest/baseline
  tools/backtest/lib/baseline_query.py
  tools/backtest/lib/summary.py
  tools/backtest/lib/tp_sl_query.py
  tools/backtest/run_random_search.py
Due: prettier --write

fix(objective): correct score breakdown display
  results/optimizer/1a642d94bbf14c8bb356303363085f84_results.json
  results/optimizer/3a0ff85e3fb54bc5992c756da279c6dc_results.json
  tools/backtest/lib/optimizer.py
  tools/backtest/lib/optimizer_objective.py
  tools/backtest/lib/summary.py
Due: prettier --write

feat(backtest): add tiered DD penalty and recalibrated objective scoring
  package.json
  packages/analytics/tsconfig.json
  results/optimizer/587c61381aef407eaa961344bd934774_results.json
  results/optimizer/dae4cfb001c347f1a979bb736bba996a_results.json
  tools/backtest/lib/__init__.py
  tools/backtest/lib/optimizer_objective.py
  tools/backtest/lib/trial_ledger.py
Due: prettier --write

feat(backtest): add multi-fold walk-forward + caller-first analysis
  results/optimizer/224388ac206249d49d0c88adb8328567_results.json
  results/optimizer/5b477c5351f74804b332019bf68ac5a8_results.json
  results/optimizer/ebdb55b381c04d238bc6e5bc628e6d0f_results.json
  results/random_search/1a1ddfef406f_random_search.json
  results/random_search/33f4f12f0b03_random_search.json
  results/random_search/34944632d768_random_search.json
  results/random_search/599448bc0157_random_search.json
  results/random_search/cec0f04dc9eb_random_search.json
  results/random_search/e51407b75e10_random_search.json
  results/random_search/e841ee9d3576_random_search.json
  results/random_search/e8441e9f9560_random_search.json
  slices/slice_20250501_20250510_66eaafe2e6fa8781.parquet
  tools/backtest/baseline
  tools/backtest/lib/optimizer_config.py
  tools/backtest/run_caller_analysis.py
  tools/backtest/run_random_search.py
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: *.ts
  vitest related --run --reporter=verbose: any of: *.ts
  sql-formatter --fix: any of: *.sql
