Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

fix: update remaining CLI test imports and fix contract validator test
  packages/cli/tests/integration/command-execution.test.ts
  packages/cli/tests/integration/handlers/ingest-ohlcv.integration.test.ts
  packages/cli/tests/integration/handlers/stats-storage.integration.test.ts
  packages/cli/tests/integration/ingestion-commands.test.ts
  packages/cli/tests/integration/ohlcv-commands.test.ts
  packages/cli/tests/integration/simulation/store-run-duckdb.integration.test.ts
  packages/cli/tests/integration/simulation/store-strategy-duckdb.integration.test.ts
  packages/cli/tests/integration/storage-commands.test.ts
  packages/cli/tests/unit/commands/ingestion.test.ts
  packages/cli/tests/unit/commands/ohlcv.test.ts
  packages/cli/tests/unit/commands/slices-handler-signature.test.ts
  packages/cli/tests/unit/commands/storage.test.ts
  packages/cli/tests/unit/core/command-context-wiring.test.ts
  packages/cli/tests/unit/core/defineCommand-error-handling.test.ts
  packages/cli/tests/unit/core/error-contracts.test.ts
  packages/cli/tests/unit/error-handler.test.ts
  packages/cli/tests/unit/handlers/analytics/analyze-duckdb.test.ts
  packages/cli/tests/unit/handlers/api-clients/test-api-clients.test.ts
  packages/cli/tests/unit/handlers/ingestion/ingest-telegram-isolation.test.ts
  packages/cli/tests/unit/handlers/ingestion/ingest-telegram.test.ts
  packages/cli/tests/unit/handlers/ingestion/process-telegram-python.test.ts
  packages/cli/tests/unit/handlers/ohlcv/backfill-ohlcv.test.ts
  packages/cli/tests/unit/handlers/simulation/clickhouse-query.test.ts
  packages/cli/tests/unit/handlers/simulation/leaderboard.test.ts
  packages/cli/tests/unit/handlers/simulation/list-runs.test.ts
  packages/cli/tests/unit/handlers/simulation/run-simulation-duckdb.test.ts
  packages/cli/tests/unit/handlers/simulation/run-simulation.test.ts
  packages/cli/tests/unit/handlers/slices/export-slice-edge-cases.test.ts
  packages/cli/tests/unit/handlers/slices/export-slices-for-alerts.test.ts
  packages/cli/tests/unit/handlers/slices/validate-slice-edge-cases.test.ts
  packages/cli/tests/unit/handlers/storage/query-storage.test.ts
  packages/cli/tests/unit/initialization-manager.test.ts
  packages/simulation/tests/contract-validator.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update contract-validator test with correct schema fields
  packages/simulation/tests/contract-validator.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: correct reentry_config schema in contract-validator test
  packages/simulation/tests/contract-validator.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: lazy-load BirdeyeClient and add fs/promises mocks
  packages/backtest/src/runPathOnly.test.ts
  packages/data/src/jobs/ohlcv-ingestion-engine.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update StrategiesRepository import and test assertion
  packages/cli/src/core/command-context.ts
  packages/cli/tests/unit/core/command-context-wiring.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update mock calls.list to accept query parameter
  packages/backtest/vitest.config.ts
  packages/cli/tests/integration/defineCommand-end-to-end.test.ts
  packages/cli/tests/integration/simulation/store-run-duckdb.integration.test.ts
  packages/cli/tests/integration/simulation/store-strategy-duckdb.integration.test.ts
  packages/cli/tests/unit/handlers/lab/signal-normalization.test.ts
  packages/cli/vitest.config.ts
  packages/simulation/vitest.config.ts
  packages/workflows/tests/helpers/mockContext.ts
  packages/workflows/tests/unit/runSimulation.golden.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: add mock for @quantbot/infra/api-clients in ingestOhlcv tests
  packages/cli/tests/unit/commands/ingestion.test.ts
  packages/jobs/tests/unit/market-data-ingestion-service.test.ts
  packages/labcatalog/src/catalog.ts
  packages/workflows/src/context/createProductionPorts.ts
  packages/workflows/tests/golden/ingestOhlcv.golden.test.ts
  packages/workflows/tests/integration/context/wiring-integration.test.ts
  packages/workflows/tests/unit/context/wiring-patterns.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: resolve all Vitest SSR module resolution issues - all tests passing
  packages/cli/tests/unit/handlers/artifacts/list-artifacts-isolation.test.ts
  packages/cli/tests/unit/handlers/artifacts/list-artifacts.test.ts
  packages/cli/tests/unit/handlers/ohlcv/analyze-coverage.test.ts
  packages/cli/tests/unit/handlers/ohlcv/backfill-ohlcv.test.ts
  packages/labcatalog/src/catalog.ts
  packages/labcatalog/vitest.config.ts
  packages/workflows/tests/integration/context/wiring-integration.test.ts
  packages/workflows/tests/integration/research/services-performance.test.ts
  packages/workflows/tests/unit/context/wiring-patterns.test.ts
  packages/workflows/tests/unit/ohlcv/analyzeCoverage.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: replace uuid with crypto.randomUUID and fix test mocks
  packages/api/src/index.ts
  packages/backtest/src/index.ts
  packages/cli/src/commands/lab-ui.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/handlers/calls/list-calls.ts
  packages/cli/src/handlers/lab-ui/lab-ui.ts
  packages/cli/src/handlers/server/serve.ts
  packages/cli/tests/integration/command-execution.test.ts
  packages/cli/tests/unit/commands/ingestion.test.ts
  packages/cli/tests/unit/handlers/slices/validate-slice-edge-cases.test.ts
  packages/cli/tests/unit/initialization-manager.test.ts
  packages/data-observatory/src/index.ts
  packages/jobs/src/ohlcv-ingestion-engine.ts
  packages/jobs/tests/golden/ohlcv-ingestion-engine.golden.test.ts
  packages/jobs/tests/unit/market-data-ingestion-service.test.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
  packages/lab-ui/src/server.ts
  packages/labcatalog/src/index.ts
  packages/simulation/src/backtest/index.ts
  packages/simulation/tests/analytics/feature-store.test.ts
  packages/workflows/src/context/causal-candle-accessor.ts
  packages/workflows/tests/golden/ingestOhlcv.golden.test.ts
  packages/workflows/tests/helpers/mockContext.ts
  tools/backtest/generate-drilldown-report.py
  tools/backtest/report_server.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: mock findWorkspaceRoot in validate-slice-edge-cases test
  packages/cli/tests/unit/handlers/slices/validate-slice-edge-cases.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update test imports and mocks for consolidated packages
  package.json
  packages/cli/src/core/initialization-manager.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
  pnpm-lock.yaml
  scripts/telegram/README.md
  scripts/telegram/generate-session.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: hoist storage mocks factory function before vi.mock calls
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update test manifests and ohlcv test mocks
  packages/cli/src/handlers/slices/validate-slice.ts
  packages/cli/tests/unit/handlers/slices/validate-slice-edge-cases.test.ts
  packages/jobs/src/ohlcv-ingestion-engine.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: reset birdeyeClientInstance cache in tests and ensure mocks are applied
  packages/jobs/src/ohlcv-ingestion-engine.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: reset birdeyeClientInstance in individual tests to ensure mocks apply
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update test import to use @quantbot/infra/api-clients
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: update ohlcv golden test imports and mocks for consolidated packages
  packages/cli/tests/unit/handlers/slices/validate-slice-edge-cases.test.ts
  packages/cli/tests/unit/initialization-manager.test.ts
  packages/jobs/tests/golden/ohlcv-ingestion-engine.golden.test.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
  scripts/telegram/generate-session.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: correct import paths in test mocks and fix test-environment-setup export
  packages/analytics/tests/unit/CallDataLoader.edge-cases.test.ts
  packages/data-observatory/tests/unit/event-collector.test.ts
  packages/infra/src/utils/index.ts
  packages/ingestion/tests/OhlcvIngestionService.integration.test.ts
  packages/ingestion/tests/OhlcvIngestionService.test.ts
  packages/ingestion/tests/duckdb-idempotency.test.ts
  packages/ingestion/tests/golden/ohlcv-work-planning.golden.test.ts
  packages/ingestion/tests/stress/ohlcv-ingestion-extreme.stress.test.ts
  packages/ingestion/tests/stress/ohlcv-ingestion.stress.test.ts
  packages/observability/tests/error-tracking.test.ts
  packages/observability/tests/influxdb-metrics-writer.test.ts
  packages/observability/tests/metrics-collector.test.ts
  packages/ohlcv/tests/ohlcv-query.test.ts
  packages/simulation/tests/analytics/unit/CallDataLoader.edge-cases.test.ts
  packages/storage/tests/golden/idempotency.golden.test.ts
  packages/storage/tests/unit/StorageEngine.test.ts
  packages/storage/tests/unit/repositories/OhlcvRepository.security.test.ts
  packages/workflows/tests/golden/runSimulationDuckdb.golden.test.ts
  packages/workflows/tests/integration/research/branch-b-integration.test.ts
  packages/workflows/tests/integration/research/full-integration.test.ts
  packages/workflows/tests/integration/research/services-edge-cases.test.ts
  packages/workflows/tests/integration/research/services-production.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: finalize consolidation TODO list
  tools/backtest/lib/trial_ledger.py
  tools/backtest/run_random_search.py
Due: none

docs: add comprehensive consolidation TODO document
  docs/consolidation/CONSOLIDATION_TODO.md
  tools/backtest/lib/trial_ledger.py
Due: prettier --write

fix: resolve @quantbot/infra subpath import errors in ohlcv and jobs packages
  .cursor/plans/package_consolidation_b2dc7244.plan.md
  .cursor/rules/package-versioning.mdc
  CONTRIBUTING.md
  README.md
  TODO.md
  docs/architecture/PACKAGE_VERSIONING_REQUIREMENT.md
  docs/migration/PACKAGE_CONSOLIDATION.md
  packages/core/src/data-hash.ts
  packages/core/src/parameter-hash.ts
  packages/jobs/tsconfig.json
  packages/lab-ui/package.json
  packages/lab/package.json
  packages/ohlcv/tsconfig.json
  packages/workflows/package.json
  test-runs/2026-01/run_id=test-26b45bdb-b6d4-4aee-a354-a6cb3c0d5c56/inputs/alerts.parquet
  test-runs/2026-01/run_id=test-26b45bdb-b6d4-4aee-a354-a6cb3c0d5c56/run.json
  tools/backtest/README.md
  tools/backtest/baseline_dashboard.py
  tools/backtest/compute_mcap_from_ohlcv.py
  tools/backtest/interactive_cli.py
  tools/backtest/lib/alerts.py
  tools/shared/duckdb_data_helper.py
  tools/telegram/tests/fixtures/invalid.json
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: add explicit UpsertResult type annotation in ohlcv-ingestion-engine
  packages/jobs/src/ohlcv-ingestion-engine.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Fix build issues: add missing dependencies, fix Zod z.record() calls, update build order, fix imports
  docs/data/duckdb-schema.md
  package.json
  packages/cli/src/core/command-context.ts
  packages/cli/src/handlers/ingestion/ensure-ohlcv-coverage.ts
  packages/cli/src/handlers/ohlcv/token-lifespan.ts
  packages/data-observatory/package.json
  packages/ingestion/package.json
  packages/ingestion/src/OhlcvIngestionService.ts
  packages/simulation/package.json
  packages/simulation/src/analytics/feature-store.ts
  packages/simulation/src/backtest/index.ts
  packages/simulation/src/backtest/slice.ts
  packages/simulation/src/index.ts
  packages/storage/src/duckdb/duckdb-data-helper-service.ts
  packages/storage/src/index.ts
  packages/storage/tests/unit/duckdb-data-helper-service.test.ts
  packages/workflows/package.json
  pnpm-lock.yaml
  tools/shared/tests/test_duckdb_data_helper.py
  tools/storage/analyze_view_usage.py
  tools/storage/consolidate_canon_views.py
  tools/storage/duckdb_data_helper.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Fix remaining build issues: fix imports, stub out missing handlers, fix type conversions
  packages/cli/src/commands/lab-ui.ts
  packages/cli/src/commands/server.ts
  packages/cli/src/core/command-context.ts
  packages/cli/src/core/execute.ts
  packages/cli/src/core/run-manifest-service.ts
  packages/cli/src/handlers/backtest/catalog-query.ts
  packages/cli/src/handlers/backtest/catalog-sync.ts
  packages/cli/src/handlers/research/replay-manifest.ts
  packages/cli/src/pure/simulation/run-simulation-duckdb.ts
  packages/lab-ui/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: add guide for starting live monitoring and signaloutbox feature
  docs/guides/STARTING_LIVE_MONITORING.md
Due: prettier --write

feat: Add trade-by-trade Parquet export and replay/resume functionality
  tools/backtest/lib/trial_ledger.py
  tools/backtest/run_random_search.py
Due: none

fix: Remove non-existent export_trials_to_parquet import
  tools/backtest/run_random_search.py
Due: none

feat(architecture): implement Phase A foundations
  docs/architecture/PHASE_A_DATA_QUALITY_GATES.md
  docs/architecture/PHASE_A_IMPLEMENTATION_COMPLETE.md
  docs/architecture/PHASE_A_OVERFITTING_PROTECTION.md
  docs/architecture/PHASE_A_SCHEMA_VERSIONING_STATUS.md
  packages/backtest/src/quality-gates.ts
  packages/backtest/tests/golden/path-metrics.golden.test.ts
  packages/simulation/tests/golden/policy-simulation.golden.test.ts
  packages/storage/migrations/000_schema_migrations_table.sql
  packages/storage/src/migrations/schema-version.ts
  tools/backtest/lib/BUG_FIX_2026-01-21_alerts_variable_scope.md
  tools/backtest/lib/alerts.py
  tools/backtest/lib/overfitting_guard.py
  tools/storage/migrate.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

docs: add comprehensive implementation summary
  SESSION_COMPLETE.txt
  docs/architecture/ARCHITECTURE_REVIEW_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

Complete Phase A remaining tasks: overfitting guard, schema CI check, deduplication, quality gates tests
  .github/workflows/ci.yml
  docs/architecture/PHASE_A_IMPLEMENTATION_COMPLETE.md
  package.json
  packages/backtest/src/quality-gates.ts
  packages/backtest/src/runPathOnly.ts
  packages/backtest/src/runPolicyBacktest.ts
  packages/backtest/tests/unit/quality-gates.test.ts
  scripts/ci/check-schema-migrations.ts
  tools/backtest/lib/overfitting_guard.py
  tools/backtest/run_random_search.py
  tools/backtest/run_walk_forward.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

refactor: consolidate package imports/exports after P3-P5 consolidation
  CHANGELOG.md
  TODO.md
  packages/backtest/src/adapters/legacy-duckdb-adapter.ts
  packages/backtest/src/events/__tests__/event-log.integration.test.ts
  packages/backtest/src/events/event-emitter.test.ts
  packages/backtest/src/events/event-emitter.ts
  packages/backtest/src/runPathOnly.ts
  packages/backtest/src/runPolicyBacktest.ts
  packages/cli/src/bin/quantbot.ts
  packages/cli/src/command-defs/calls.ts
  packages/cli/src/command-defs/data.ts
  packages/cli/src/command-defs/features.ts
  packages/cli/src/command-defs/lab.ts
  packages/cli/src/commands/artifacts.ts
  packages/cli/src/commands/backtest.ts
  packages/cli/src/commands/calls.ts
  packages/cli/src/commands/calls/sweep-calls.ts
  packages/cli/src/commands/data/canonical.ts
  packages/cli/src/commands/data/raw.ts
  packages/cli/src/commands/features.ts
  packages/cli/src/commands/ingestion/surgical-ohlcv-fetch.ts
  packages/cli/src/commands/lab.ts
  packages/cli/src/commands/lake.ts
  packages/cli/src/core/benchmark.ts
  packages/cli/src/core/command-context.ts
  packages/cli/src/handlers/data/get-canonical-by-asset.ts
  packages/cli/src/handlers/data/list-raw-sources.ts
  packages/cli/src/handlers/data/query-canonical.ts
  packages/cli/src/handlers/data/query-raw-data.ts
  packages/cli/src/handlers/features/compute-features.ts
  packages/cli/src/handlers/features/list-features.ts
  packages/cli/src/handlers/lab/export-parquet-lab.ts
  packages/cli/src/handlers/lab/sweep-lab.ts
  packages/cli/src/handlers/lake/__tests__/export-run-slices-lake.test.ts
  packages/cli/src/handlers/lake/export-run-slices-lake.ts
  packages/workflows/src/research/phases/lake-directory.ts
  packages/workflows/src/research/phases/types.ts
  packages/workflows/src/slices/exportAndAnalyzeSlice.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: resolve TypeScript errors in optimization workflow
  data/exports/alerts_for_lake.parquet
  data/lake/runs/run_id=slice_export_1769299516/inputs/alerts.parquet
  packages/workflows/src/research/optimization-workflow.ts
  packages/workflows/src/research/phases/backtest-optimization.ts
  packages/workflows/src/research/phases/lab-sweep-discovery.ts
  packages/workflows/src/research/phases/stress-validation.ts
  packages/workflows/src/research/phases/types.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: resolve remaining TypeScript errors in optimization workflow
  data/lake/runs/run_id=slice_export_1769299535/inputs/alerts.parquet
  packages/workflows/src/research/phases/lab-sweep-discovery.ts
  packages/workflows/src/research/phases/stress-validation.ts
  tools/backtest/lib/slice_exporter.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: *.ts
  vitest related --run --reporter=verbose: any of: *.ts
  sql-formatter --fix: any of: *.sql
