Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

refactor(ingestion): migrate tools/ingestion/ to packages/ingestion/python/
  packages/ingestion/python/ohlcv_worklist.py
  packages/ingestion/python/tests/test_chain_normalization_regression.py
  packages/ingestion/python/tests/test_worklist_sql_normalization_regression.py
Due: none

refactor(backtest): migrate tools/analysis/ to packages/backtest/python/analysis/
  packages/backtest/python/analysis/README.md
  packages/backtest/python/analysis/ohlcv_caller_coverage.py
  packages/backtest/python/analysis/ohlcv_coverage_map.py
  packages/backtest/python/analysis/ohlcv_detailed_coverage.py
  packages/backtest/python/analysis/pytest.ini
  packages/backtest/python/analysis/tests/README.md
  packages/backtest/python/analysis/tests/__init__.py
  packages/backtest/python/analysis/tests/test_clickhouse_connection.py
Due: prettier --write

refactor(storage): migrate tools/simulation/ storage tools to packages/storage/python/
  packages/storage/python/__init__.py
  packages/storage/python/clickhouse_engine.py
  packages/storage/python/duckdb_storage.py
  packages/storage/python/duckdb_storage/README.md
  packages/storage/python/duckdb_storage/__init__.py
  packages/storage/python/duckdb_storage/main.py
  packages/storage/python/duckdb_storage/ops/__init__.py
  packages/storage/python/duckdb_storage/ops/add_ohlcv_exclusion.py
  packages/storage/python/duckdb_storage/ops/generate_report.py
  packages/storage/python/duckdb_storage/ops/move_invalid_tokens.py
  packages/storage/python/duckdb_storage/ops/query_calls.py
  packages/storage/python/duckdb_storage/ops/query_ohlcv_exclusions.py
  packages/storage/python/duckdb_storage/ops/query_ohlcv_metadata.py
  packages/storage/python/duckdb_storage/ops/query_tokens_recent.py
  packages/storage/python/duckdb_storage/ops/remove_faulty_addresses.py
  packages/storage/python/duckdb_storage/ops/state_ops.py
  packages/storage/python/duckdb_storage/ops/store_run.py
  packages/storage/python/duckdb_storage/ops/store_strategy.py
  packages/storage/python/duckdb_storage/ops/store_token_creation_info.py
  packages/storage/python/duckdb_storage/ops/update_ohlcv_metadata.py
  packages/storage/python/duckdb_storage/ops/validate_addresses.py
  packages/storage/python/duckdb_storage/schemas.py
  packages/storage/python/duckdb_storage/utils.py
  packages/storage/python/ohlcv_cache.py
  packages/storage/python/requirements.txt
  packages/storage/python/run_simulation.py
  packages/storage/python/simulator.py
  packages/storage/python/sql_functions.py
  packages/storage/python/tests/README.md
  packages/storage/python/tests/__init__.py
  packages/storage/python/tests/conftest.py
  packages/storage/python/tests/pytest.ini
  packages/storage/python/tests/test_contract_hygiene.py
  packages/storage/python/tests/test_integration_pipeline.py
  packages/storage/python/tests/test_operations_unit.py
  packages/storage/python/tests/test_separation_of_concerns.py
  packages/storage/python/tests/test_wrapper_compatibility.py
Due: prettier --write

refactor: update all Python script paths to new package locations
  packages/analytics/src/analytics-service.ts
  packages/backtest/src/services/__tests__/baseline-backtest-service.integration.test.ts
  packages/backtest/src/services/__tests__/caller-analysis-service.integration.test.ts
  packages/backtest/src/services/__tests__/token-slicer-service.integration.test.ts
  packages/backtest/src/services/baseline-backtest-service.ts
  packages/backtest/src/services/caller-analysis-service.ts
  packages/backtest/src/services/index.ts
  packages/backtest/src/services/token-slicer-service.ts
  packages/backtest/src/sim/simulation-service.ts
  packages/cli/src/handlers/backtest/baseline-python.ts
  packages/cli/src/handlers/backtest/caller-analysis.ts
  packages/cli/src/handlers/backtest/token-slicer.ts
  packages/cli/src/handlers/storage/analyze-candle-quality.ts
  packages/infra/src/storage/adapters/artifact-duckdb-adapter.ts
  packages/infra/src/storage/adapters/experiment-duckdb-adapter.ts
  packages/infra/src/storage/duckdb/duckdb-client.ts
  packages/infra/src/storage/duckdb/repositories/CallersRepository.ts
  packages/infra/src/storage/duckdb/repositories/ErrorRepository.ts
  packages/infra/src/storage/duckdb/repositories/StrategiesRepository.ts
  packages/infra/src/storage/duckdb/repositories/TokenDataRepository.ts
  packages/infra/src/utils/python/python-engine.ts
  packages/ingestion/tests/OhlcvIngestionService.integration.test.ts
  packages/ingestion/tests/duckdb-idempotency.test.ts
  packages/simulation/src/simulation-service.ts
  packages/storage/src/adapters/artifact-duckdb-adapter.ts
  packages/storage/src/adapters/experiment-duckdb-adapter.ts
  packages/storage/src/adapters/run-event-duckdb-adapter.ts
  packages/storage/src/duckdb/duckdb-client.ts
  packages/storage/src/duckdb/repositories/CallersRepository.ts
  packages/storage/src/duckdb/repositories/ErrorRepository.ts
  packages/storage/src/duckdb/repositories/StrategiesRepository.ts
  packages/storage/src/duckdb/repositories/TokenDataRepository.ts
  packages/utils/src/python/python-engine.ts
  packages/utils/tests/integration/python-bridge.test.ts
  packages/workflows/src/metadata/resolveEvmChains.ts
  packages/workflows/src/ohlcv/analyzeCoverage.ts
  packages/workflows/src/ohlcv/analyzeDetailedCoverage.ts
  packages/workflows/src/ohlcv/surgicalOhlcvFetch.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: add Python-TypeScript integration architecture documentation
  docs/architecture/python-typescript-integration.md
Due: prettier --write

fix: Add resource limits and timeouts to prevent hanging on large datasets
  tools/backtest/post2x_drawdown_analysis.py
Due: none

docs: update CHANGELOG with Python-TypeScript architecture refactor
  CHANGELOG.md
Due: prettier --write

fix: Flip Stop@X% to Keep@X% (capture rate instead of miss rate)
  tools/backtest/post2x_drawdown_analysis.py
Due: none

feat: Add --stop-mode parameter (static vs trailing)
  tools/backtest/post2x_drawdown_analysis.py
Due: none

docs: Update CHANGELOG with stop mode feature and corrected metrics
  CHANGELOG.md
Due: prettier --write

feat: Add ladder stop mode with configurable steps
  tools/backtest/post2x_drawdown_analysis.py
Due: none

feat: Add post-2x stop strategy P&L simulator
  tools/backtest/post2x_stop_simulator.py
Due: none

feat: Add Hit2x% column to drawdown analysis
  tools/backtest/post2x_drawdown_analysis.py
Due: none

feat: Add 1x→2x (entry to 2x) drawdown analysis
  tools/backtest/post2x_drawdown_analysis.py
Due: none

feat: add Python type stub generation from Zod schemas
  docs/guides/python-type-stubs.md
  mypy.ini
  package.json
  packages/backtest/python/scripts/run_baseline_typed.py
  packages/backtest/python/types/baseline_backtest.pyi
  packages/infra/src/utils/python/python-engine.ts
  packages/ingestion/tests/OhlcvIngestionService.integration.test.ts
  packages/ingestion/tests/duckdb-idempotency.test.ts
  packages/utils/src/python/python-engine.ts
  packages/utils/tests/integration/python-bridge.test.ts
  packages/workflows/src/ohlcv/analyzeCoverage.ts
  packages/workflows/src/ohlcv/analyzeDetailedCoverage.ts
  packages/workflows/src/ohlcv/surgicalOhlcvFetch.ts
  pnpm-lock.yaml
  scripts/generate-python-stubs-simple.ts
  scripts/generate-python-stubs.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: Add phased stop strategy simulator
  tools/backtest/phased_stop_simulator.py
Due: none

docs: Update CHANGELOG with phased stop simulator and 1x→2x analysis
  CHANGELOG.md
Due: prettier --write

perf: Add multithreading to phased stop simulator
  tools/backtest/phased_stop_simulator.py
Due: none

docs: Add comprehensive column definitions for phased stop simulator
  docs/phased-stop-simulator-columns.md
Due: prettier --write

feat: Extend phased stop simulator to track 5x, 10x, and ATH metrics
  tools/backtest/phased_stop_simulator.py
Due: none

feat(tools): add parquet vs clickhouse quality comparison tool
  CHANGELOG.md
  tools/storage/compare_parquet_clickhouse_quality.py
Due: prettier --write

feat: add comprehensive Python type stubs and Pydantic models
  packages/backtest/python/examples/typeddict_vs_pydantic.py
  packages/backtest/python/types/caller_analysis.pyi
  packages/backtest/python/types/pydantic_models.py
  packages/backtest/python/types/token_slicer.pyi
  scripts/generate-python-stubs-simple.ts
  scripts/generate-python-stubs.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: Expand stop range from 10-30% to 10-60%
  tools/backtest/phased_stop_simulator.py
Due: none

docs: add comprehensive Pydantic vs TypedDict guide
  docs/guides/pydantic-vs-typeddict.md
  mypy.ini
  package.json
  scripts/generate-python-stubs-simple.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(tools): use interval_seconds column in ClickHouse query
  tools/storage/compare_parquet_clickhouse_quality.py
Due: none

feat: Add parquet output and resume functionality to phased stop simulator
  tools/backtest/phased_stop_simulator.py
Due: none

feat(tools): add configurable --horizon and show coverage % and duplicates
  tools/storage/compare_parquet_clickhouse_quality.py
Due: none

feat(tools): add separate quality breakdown scores
  tools/storage/compare_parquet_clickhouse_quality.py
Due: none

feat: Add intelligent caching system to phased stop simulator
  tools/backtest/phased_stop_simulator.py
Due: none

docs: Update CHANGELOG for caching and parquet output features
  CHANGELOG.md
Due: prettier --write

style: format pydantic-vs-typeddict.md
  docs/guides/pydantic-vs-typeddict.md
Due: prettier --write

feat(backtest): improve slice exporter quality and add validation tool
  CHANGELOG.md
  tools/backtest/export_per_token_slices.py
  tools/backtest/lib/__init__.py
  tools/backtest/lib/slice_exporter.py
  tools/backtest/lib/slice_quality.py
  tools/backtest/validate_slices.py
Due: prettier --write

fix: restore missing artifacts directory source files in core package
  packages/core/src/artifacts/artifact-schema.ts
  packages/core/src/artifacts/index.ts
  packages/core/src/artifacts/run-manifest.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: Add CSV export for phased stop simulator summary results
  tools/backtest/phased_stop_simulator.py
Due: none

fix: restore missing artifacts directories in backtest and cli packages
  packages/backtest/src/artifacts/catalog.test.ts
  packages/backtest/src/artifacts/catalog.ts
  packages/backtest/src/artifacts/index.ts
  packages/backtest/src/artifacts/types.ts
  packages/backtest/src/artifacts/writer.test.ts
  packages/backtest/src/artifacts/writer.ts
  packages/cli/src/handlers/artifacts/get-artifact.ts
  packages/cli/src/handlers/artifacts/list-artifacts.ts
  packages/cli/src/handlers/artifacts/tag-artifact.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Update CHANGELOG for CSV export feature
  CHANGELOG.md
Due: prettier --write

fix: add @quantbot/infra to build order
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: *.ts
  vitest related --run --reporter=verbose: any of: *.ts
  sql-formatter --fix: any of: *.sql
