Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

fix(analytics): add type annotations to CallDataLoader to fix TypeScript errors
  packages/analytics/src/loaders/CallDataLoader.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(workflows): add warn method to SurgicalOhlcvFetchContext logger type
  packages/workflows/src/ohlcv/surgicalOhlcvFetch.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

chore: apply formatting from pre-commit hook
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter.ts
  packages/storage/src/adapters/clickhouse/CandleSliceExporter.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

style: apply formatting improvements to CallDataLoader and related files
  NEXT_STEPS.md
  packages/analytics/src/loaders/CallDataLoader.ts
  packages/cli/src/commands/ohlcv.ts
  packages/cli/src/handlers/ohlcv/fetch-from-duckdb.ts
  packages/cli/src/handlers/ohlcv/fetch-ohlcv.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

style: apply formatting improvements and code cleanup
  NEXT_STEPS.md
  artifacts/index.json
  artifacts/simulation_run_PT2_SL25_unknown_20251222202047_42b3926f/logs.txt
  packages/analytics/src/loaders/CallDataLoader.ts
  packages/cli/src/commands/ohlcv.ts
  packages/cli/src/core/artifact-manager.ts
  packages/cli/src/core/execute.ts
  packages/cli/src/core/ohlcv-queue.ts
  packages/cli/src/handlers/ohlcv/fetch-from-duckdb.ts
  packages/cli/src/handlers/ohlcv/fetch-ohlcv.ts
  packages/core/src/index.ts
  packages/core/src/logging/exampleUsage.ts
  packages/core/src/logging/ndjsonLogger.ts
  packages/core/src/paths/artifactsPath.ts
  packages/storage/src/duckdb/repositories/ArtifactRepository.ts
  packages/workflows/src/research/artifact-storage.ts
  packages/workflows/src/research/context.ts
  scripts/lab-sim.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

style: apply formatting to logging files
  packages/core/src/logging/exampleUsage.ts
  packages/core/src/logging/ndjsonLogger.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Add coverage visualization tools and snapshot storage
  coverage-viewer/.gitignore
  coverage-viewer/README.md
  coverage-viewer/index.html
  coverage-viewer/package.json
  coverage-viewer/src/App.vue
  coverage-viewer/src/main.js
  coverage-viewer/src/style.css
  coverage-viewer/vite.config.js
  package.json
  scripts/coverage-buckets.sh
  scripts/coverage-fetch.sh
  scripts/coverage-histogram.sh
  scripts/coverage-store-and-print.sh
Due: prettier --write

Fix coverage scripts: use environment variables for heredoc
  scripts/coverage-histogram.sh
  scripts/coverage-store-and-print.sh
Due: none

Add integration tests for RunStatusRepository, RunLogRepository, and ArtifactRepository
  COMPLETION_STATUS.md
  packages/storage/tests/integration/ArtifactRepository.integration.ts
  packages/storage/tests/integration/RunLogRepository.integration.ts
  packages/storage/tests/integration/RunStatusRepository.integration.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Update completion status: integration tests completed
  COMPLETION_STATUS.md
Due: prettier --write

docs: update ENHANCEMENTS.md to reflect completed work
  ENHANCEMENTS.md
Due: prettier --write

feat(lab): implement resource model API with real backtest execution
  TODO.md
  packages/cli/src/core/output-formatter.ts
  packages/simulation/src/position/position.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/adapters/duckdb-slice-analyzer-adapter-impl.ts
  packages/utils/src/types.ts
  packages/utils/src/utils/RepeatSimulationHelper.ts
  packages/workflows/src/ohlcv/surgicalOhlcvFetch.ts
  packages/workflows/src/research/artifact-storage.ts
  packages/workflows/tests/integration/slice-export-e2e.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(lab): implement all optional enhancements
  ENHANCEMENTS.md
  packages/lab/src/server.ts
  packages/storage/src/clickhouse/repositories/RunLogRepository.ts
  packages/storage/src/duckdb/repositories/ArtifactRepository.ts
  packages/storage/src/duckdb/repositories/RunStatusRepository.ts
  packages/storage/src/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: add implementation summary for completed enhancements
  IMPLEMENTATION_SUMMARY.md
Due: prettier --write

chore: apply formatting and merge-related changes
  COMPLETION_STATUS.md
  IMPLEMENTATION_SUMMARY.md
  TODO.md
  ohlcv-coverage.html
  packages/lab/src/server.ts
  packages/simulation/src/position/position.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/adapters/duckdb-slice-analyzer-adapter-impl.ts
  packages/storage/src/clickhouse/repositories/RunLogRepository.ts
  packages/storage/src/duckdb/repositories/ArtifactRepository.ts
  packages/storage/src/duckdb/repositories/RunStatusRepository.ts
  packages/storage/src/index.ts
  packages/utils/src/utils/RepeatSimulationHelper.ts
  packages/workflows/src/ohlcv/surgicalOhlcvFetch.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: add completion status document
  COMPLETION_STATUS.md
Due: prettier --write

Add comprehensive API documentation
  packages/lab/API.md
  packages/lab/README.md
Due: prettier --write

Enforce causal candle access in simulations - lock down the invariant
  packages/workflows/src/context/createProductionContext.ts
  packages/workflows/src/simulation/runSimulation.ts
  packages/workflows/src/types.ts
  packages/workflows/tests/helpers/mockContext.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(lab): remove undefined logHub and requestId from createProductionContext call
  packages/lab/src/server.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter.ts
  packages/storage/src/adapters/clickhouse/CandleSliceExporter.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(clickhouse): add backup, rollback, and monitoring scripts for Parquet upgrade
  IMPLEMENTATION_STATUS.md
  data/backup/clickhouse/README.md
  data/backup/clickhouse/baseline_metrics_20251227.txt
  data/backup/clickhouse/data_ohlcv_candles _20251227.csv
  data/backup/clickhouse/performance_comparison_20251227.txt
  data/backup/clickhouse/schema_database_20251227.sql
  data/backup/clickhouse/schema_ohlcv_candles _20251227.sql
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter.ts
  packages/storage/src/adapters/clickhouse/CandleSliceExporter.ts
  scripts/backup/verify-backup.sh
  scripts/monitoring/post-upgrade-monitor.sh
  scripts/rollback/check-clickhouse-health.sh
  scripts/rollback/rollback-clickhouse.sh
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: *.ts
  vitest related --run --reporter=verbose: any of: *.ts
  sql-formatter --fix: any of: *.sql
