Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

feat(optimizer): add tiered SL + entry timing optimization
  results/optimizer/55dc495fb6de49a99180c96e83b43b5a_results.json
  results/optimizer/dd015c6a031f4973ac5f318e4f3cfbdf_results.json
  results/random_search/6d73e2ac9761_random_search.json
  results/random_search/8fa6ab04f932_random_search.json
  results/random_search/a184d3926330_random_search.json
  tools/backtest/baseline
  tools/backtest/lib/extended_exits.py
  tools/backtest/lib/optimizer.py
  tools/backtest/lib/optimizer_config.py
Due: prettier --write

feat(backtest): add extended exits and tiered SL to random search
  results/random_search/0105584def03_random_search.json
  results/random_search/04f87972f51c_random_search.json
  results/random_search/3223da0934d4_random_search.json
  results/random_search/548964d3e827_random_search.json
  results/random_search/c2afe4194fb6_random_search.json
  tools/backtest/run_random_search.py
Due: prettier --write

fix(backtest): correct ExitConfig field names in random search
  tools/backtest/run_random_search.py
Due: none

feat(backtest): add path quality metrics for retention, headfake, stall, and time-in-profit
  .cursor/rules/00-repo-shape.mdc
  tools/backtest/lib/baseline_query.py
  tools/backtest/lib/optimizer.py
  tools/backtest/lib/optimizer_config.py
  tools/backtest/lib/optimizer_objective.py
  tools/backtest/lib/summary.py
  tools/backtest/lib/tp_sl_query.py
  tools/backtest/tests/test_existing_metric_stability.py
  tools/backtest/tests/test_path_quality_golden.py
  tools/backtest/tests/test_path_quality_metrics.golden.py
  tools/backtest/view_leaderboard.py
Due: none

refactor(ci): modernize workflows for experimental project lifecycle
  .github/workflows/build.yml
  .github/workflows/ci-develop.yml
  .github/workflows/ci-integration.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-staging.yml
  .github/workflows/experiment-validation.yml
  .github/workflows/fast-feedback.yml
  .github/workflows/nightly-experiments.yml
  .github/workflows/pr-quality-gates.yml
  .github/workflows/release-quality-gates.yml
  .github/workflows/stress-tests.yml
  .github/workflows/test.yml
Due: prettier --write

feat(backtest): enhance random search with robust region finder and extended features
  packages/backtest/src/runPathOnly.test.ts
  tools/backtest/lib/robust_region_finder.py
  tools/backtest/run_random_search.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): implement Run Mode Contract + audit trail + resume
  tools/backtest/lib/__init__.py
  tools/backtest/lib/robust_region_finder.py
  tools/backtest/lib/run_mode.py
  tools/backtest/lib/stress_lanes.py
  tools/backtest/lib/tp_sl_query.py
  tools/backtest/lib/trial_ledger.py
  tools/backtest/run_random_search.py
Due: none

Update TODO: reorganize incomplete items to top, clarify Phase 6 slice export scaling
  TODO.md
  packages/observability/tests/metrics-collector.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(slices): implement Phase 6 performance and scaling features
  TODO.md
  packages/cli/src/commands/slices.ts
  packages/cli/src/handlers/slices/export-slices-for-alerts.ts
  packages/labcatalog/src/layout.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/workflows/src/slices/exportSlicesForAlerts.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

refactor(P2): create data package (WIP - type errors remain)
  packages/data/package.json
  packages/data/src/index.ts
  packages/data/src/ingestion/BotMessageExtractor.ts
  packages/data/src/ingestion/CallerResolver.ts
  packages/data/src/ingestion/ChunkValidator.ts
  packages/data/src/ingestion/MessageIndex.ts
  packages/data/src/ingestion/OhlcvIngestionService.ts
  packages/data/src/ingestion/TelegramAlertIngestionService.ts
  packages/data/src/ingestion/TelegramCallIngestionService.ts
  packages/data/src/ingestion/TelegramExportParser.ts
  packages/data/src/ingestion/TelegramPipelineService.ts
  packages/data/src/ingestion/addressValidation.ts
  packages/data/src/ingestion/comprehensiveAddressExtraction.ts
  packages/data/src/ingestion/extractSolanaAddresses.ts
  packages/data/src/ingestion/index.ts
  packages/data/src/ingestion/ohlcv-work-planning.ts
  packages/data/src/ingestion/telegram/TelegramJsonExportParser.ts
  packages/data/src/ingestion/telegram/TelegramJsonIngestionService.ts
  packages/data/src/ingestion/telegram/TelegramMessageStreamProcessor.ts
  packages/data/src/ingestion/telegram/normalize.ts
  packages/data/src/ingestion/telegram/normalizedToParsedConverter.ts
  packages/data/src/ingestion/types.ts
  packages/data/src/jobs/index.ts
  packages/data/src/jobs/ohlcv-backfill-service.ts
  packages/data/src/jobs/ohlcv-birdeye-fetch.ts
  packages/data/src/jobs/ohlcv-fetch-job.ts
  packages/data/src/jobs/ohlcv-ingestion-engine.ts
  packages/data/src/ohlcv/cache-stub.ts
  packages/data/src/ohlcv/candles.ts
  packages/data/src/ohlcv/historical-candles.ts
  packages/data/src/ohlcv/index.ts
  packages/data/src/ohlcv/ohlcv-engine.ts
  packages/data/src/ohlcv/ohlcv-query.ts
  packages/data/src/ohlcv/ohlcv-service.ts
  packages/data/src/ohlcv/ohlcv-storage.ts
  packages/data/tsconfig.json
  packages/infra/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: add commit & push workflow rule to conventions
  .cursor/rules/60-quantbot-conventions.mdc
Due: none

feat(slices): implement Phase 4 dataset expansion
  TODO.md
  packages/cli/src/commands/slices.ts
  packages/cli/src/handlers/slices/export-slices-for-alerts.ts
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/adapters/dataset-registry.ts
  packages/storage/src/index.ts
  packages/workflows/src/slices/exportSlicesForAlerts.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

test(backtest): fix test failures and harden validation
  tools/backtest/run_baseline_all.py
  tools/backtest/tests/test_duckdb_storage.py
  tools/backtest/tests/test_path_quality_metrics_golden.py
Due: none

fix(core): update z.record() to Zod v4 signature (key, value)
  packages/core/src/domain/runs/RunEvents.ts
  packages/lab-ui/src/db.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(lab-ui): improve timestamp handling and fix schema references
  packages/lab-ui/src/api.ts
  packages/lab-ui/views/caller.ejs
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(lab-ui): seed default strategies from strategies/dsl folder
  packages/lab-ui/public/strategies.js
  packages/lab-ui/src/api.ts
  packages/lab-ui/src/server.ts
  packages/lab-ui/src/strategy-seeder.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: resolve build errors and restore green state
  packages/cli/src/handlers/backtest/migrate-results.ts
  packages/core/package.json
  packages/core/src/strategy/dsl-schema.ts
  packages/core/src/strategy/dsl-validator.ts
  packages/core/src/strategy/template-registry.ts
  packages/core/src/strategy/template-schema.ts
  packages/data/src/ohlcv/candles.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: use findWorkspaceRoot for correct path resolution in slice validator
  packages/infra/src/storage/adapters/slice-validator-adapter.ts
  packages/storage/src/adapters/slice-validator-adapter.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): Complete backtest architecture implementation (Phases 1-6)
  packages/backtest/src/index.ts
  packages/cli/src/commands/backtest.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(backtest): Improve error handling for missing user_calls_d table
  packages/backtest/GUARDRAIL_VERIFICATION.md
  packages/backtest/SETUP.md
  packages/backtest/VERIFICATION_SUMMARY.md
  packages/cli/src/commands/backtest.ts
  packages/workflows/src/calls/queryCallsDuckdb.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: *.ts
  vitest related --run --reporter=verbose: any of: *.ts
  sql-formatter --fix: any of: *.sql
