Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

docs: Clarify difference between --resume and --use-cache
  tools/backtest/phased_stop_simulator.py
Due: none

fix: move labcatalog before backtest in build order
  package.json
Due: prettier --write

fix: Always save cache metadata, even without --use-cache
  tools/backtest/phased_stop_simulator.py
Due: none

docs: Update usage to reflect automatic cache metadata saving
  tools/backtest/phased_stop_simulator.py
Due: none

fix: add @quantbot/infra dependency to lab package
  packages/lab/package.json
  packages/lab/tsconfig.json
Due: prettier --write

feat: Add cohort-based EV metrics and exit multiple distributions
  tools/backtest/phased_stop_simulator.py
Due: none

docs: Update CHANGELOG for cohort-based EV metrics
  CHANGELOG.md
Due: prettier --write

fix: add fetchTokenCreationInfo method to infra BirdeyeClient
  packages/infra/src/api-clients/birdeye-client.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

test: Add golden path tests for EV calculations
  tools/backtest/tests/test_phased_stop_ev_golden.py
Due: none

test(backtest): add comprehensive tests for slice quality and exporter
  CHANGELOG.md
  tools/backtest/tests/test_slice_exporter_regression.py
  tools/backtest/tests/test_slice_quality_golden.py
  tools/backtest/tests/test_slice_quality_unit.py
Due: prettier --write

fix(validate_slices): add warning when --expected-hours not provided
  tools/backtest/validate_slices.py
Due: none

feat: Add query helper script for EV results
  tools/backtest/query_ev_results.py
Due: none

feat(validate_slices): add date range filtering with --from and --to
  tools/backtest/validate_slices.py
Due: none

fix(backtest): consolidate slice exporters with improved deduplication
  CHANGELOG.md
  tools/backtest/alert_baseline_backtest.py
  tools/backtest/lib/slice_exporter.py
  tools/backtest/run_baseline_all.py
Due: prettier --write

test: Add modular library tests and fix import issues
  output/outer/phased_stop_results_c2d4a431627667fb.parquet
  tools/backtest/lib/trade_simulator.py
  tools/backtest/test_modular_library.py
Due: none

feat: Integrate delayed entry into phased_stop_simulator
  CHANGELOG.md
  tools/backtest/DELAYED_ENTRY_USAGE.md
  tools/backtest/delayed_entry_analysis.py
  tools/backtest/delayed_entry_simulator.py
  tools/backtest/export_per_token_slices.py
  tools/backtest/phased_stop_simulator.py
  tools/backtest/reexport_slices.py
  tools/backtest/run_baseline_all.py
Due: prettier --write

docs: Fix DELAYED_ENTRY_USAGE - simulator tests all strategies automatically
  slices/per_token_v2/quality_report.json
  tools/backtest/DELAYED_ENTRY_USAGE.md
  tools/backtest/lib/slice_exporter.py
Due: prettier --write

docs: Add comparison dashboard quick start guide
  POST_EXPORT_STEPS.md
  tools/backtest/COMPARISON_QUICKSTART.md
Due: prettier --write

feat: Auto-generate output directories based on delayed entry percentage
  .cursor/plans/fix_date-range_query_bug_d0f2767d.plan.md
  docs/architecture/typescript-python-orchestration-complete.md
  output/immediate-actual/cache_metadata.json
  output/immediate-actual/phased_stop_results_7e0cb30d02f15805.parquet
  packages/simulation/src/duckdb-storage-service.ts
  packages/workflows/src/calls/queryCallsDuckdb.ts
  tools/backtest/COMPARISON_QUICKSTART.md
  tools/backtest/DELAYED_ENTRY_USAGE.md
  tools/backtest/phased_stop_simulator.py
  tools/simulation/duckdb_storage/ops/query_calls.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Add auto-directory naming guide
  tools/backtest/AUTO_DIRECTORY_NAMING.md
Due: prettier --write

fix(workflows): Add date range filtering to query_calls operation
  .cursor/plans/fix_date-range_query_bug_d0f2767d.plan.md
  output/dip_-10pct/cache_metadata.json
  output/dip_-10pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-15pct/cache_metadata.json
  output/dip_-15pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-20pct/cache_metadata.json
  output/dip_-20pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-25pct/cache_metadata.json
  output/dip_-25pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-30pct/cache_metadata.json
  output/dip_-30pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-40pct/cache_metadata.json
  output/dip_-40pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-50pct/cache_metadata.json
  output/dip_-50pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/dip_-5pct/cache_metadata.json
  output/dip_-5pct/phased_stop_results_7e0cb30d02f15805.parquet
  output/immediate_entry/cache_metadata.json
  output/immediate_entry/phased_stop_results_7e0cb30d02f15805.parquet
Due: prettier --write

docs: Update CHANGELOG with date range query bug fix
  CHANGELOG.md
Due: prettier --write

fix: generate .py files (not just .pyi) for TypedDict imports
  packages/backtest/python/examples/typeddict_vs_pydantic.py
  packages/backtest/python/scripts/run_baseline_typed.py
  packages/backtest/python/typedefs/__init__.py
  packages/backtest/python/typedefs/baseline_backtest.py
  packages/backtest/python/typedefs/baseline_backtest.pyi
  packages/backtest/python/typedefs/caller_analysis.py
  packages/backtest/python/typedefs/caller_analysis.pyi
  packages/backtest/python/typedefs/pydantic_models.py
  packages/backtest/python/typedefs/token_slicer.py
  packages/backtest/python/typedefs/token_slicer.pyi
  runs/2026-01/run_id=5470055f-2573-4de8-bb04-172065eb7ca7/run.json
  runs/2026-01/run_id=98941baa-5eac-43cd-b941-ae9315bcb093/run.json
  runs/2026-01/run_id=a4400537-4fff-4ce0-99b2-bac6a3d3ecf3/run.json
  runs/2026-01/run_id=a9578992-a023-4665-90c3-3df8cc1e20f0/run.json
  scripts/generate-python-stubs-simple.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix: OHLCV pipeline schema mismatch and deduplication
  .cursor/plans/fix_date-range_query_bug_d0f2767d.plan.md
  .cursor/plans/package_consolidation_b2dc7244.plan.md
  .cursor/plans/python-ts_architecture_refactor_v2_b98f9228.plan.md
  .cursor/plans/validate_ohlcv_pipeline_1f55b6e3.plan.md
  CHANGELOG.md
  CRITICAL_FINDINGS.md
  VALIDATION_RESULTS.md
  VALIDATION_SUMMARY.md
  packages/cli/src/bin/quantbot.ts
  packages/cli/src/commands/validation.ts
  packages/cli/src/handlers/backtest/v1-baseline-optimizer.ts
  packages/cli/src/handlers/validation/verify-ohlcv-fetch.ts
  packages/storage/src/clickhouse-client.ts
  packages/storage/src/clickhouse/repositories/OhlcvRepository.ts
  scripts/test/test-ohlcv-fetch-direct.sh
  scripts/test/verify-clickhouse-schema.ts
  tools/migration/migrate_to_replacing_merge_tree.py
  tools/validation/verify_ohlcv_fetch.py
  tools/validation/verify_storage_write_read.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: add OHLCV pipeline fix documentation
  docs/fixes/ohlcv-pipeline-fix-2026-01-12.md
Due: prettier --write

feat(storage): implement OHLCV deduplication and audit trail module
  CHANGELOG.md
  CRITICAL_FINDINGS.md
  VALIDATION_RESULTS.md
  VALIDATION_SUMMARY.md
  docs/fixes/ohlcv-pipeline-fix-2026-01-12.md
  packages/cli/src/commands/ohlcv.ts
  packages/cli/src/commands/validation.ts
  packages/cli/src/core/command-context.ts
  packages/cli/src/handlers/backtest/v1-baseline-optimizer.ts
  packages/cli/src/handlers/ohlcv/dedup-sweep.ts
  packages/cli/src/handlers/ohlcv/runs-details.ts
  packages/cli/src/handlers/ohlcv/runs-list.ts
  packages/cli/src/handlers/ohlcv/runs-rollback.ts
  packages/cli/src/handlers/ohlcv/validate-duplicates.ts
  packages/cli/src/handlers/validation/verify-ohlcv-fetch.ts
  packages/storage/src/clickhouse/repositories/IngestionRunRepository.ts
  packages/storage/src/clickhouse/repositories/OhlcvRepository.ts
  packages/storage/src/clickhouse/schemas/ohlcv-candles-1m.sql
  packages/storage/src/clickhouse/schemas/ohlcv-candles-5m.sql
  packages/storage/src/clickhouse/schemas/ohlcv-ingestion-runs.sql
  packages/storage/src/clickhouse/services/OhlcvDedupService.ts
  packages/storage/src/clickhouse/types/quality-score.ts
  packages/storage/src/clickhouse/validation/candle-validator.ts
  packages/storage/src/index.ts
  packages/storage/src/utils/git-info.ts
  packages/storage/src/utils/version-info.ts
  packages/storage/tests/unit/candle-validator.test.ts
  packages/storage/tests/unit/quality-score.test.ts
  scripts/test/verify-clickhouse-schema.ts
  tools/migration/migrate_ohlcv_to_interval_tables.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

docs: add OHLCV deduplication implementation summary
  docs/implementation/ohlcv-deduplication-implementation.md
Due: prettier --write

fix(storage): fix test assertions and StorageEngine compatibility
  packages/cli/src/handlers/ohlcv/dedup-sweep.ts
  packages/cli/src/handlers/ohlcv/runs-details.ts
  packages/cli/src/handlers/ohlcv/runs-list.ts
  packages/cli/src/handlers/ohlcv/runs-rollback.ts
  packages/cli/src/handlers/ohlcv/validate-duplicates.ts
  packages/storage/src/clickhouse/repositories/IngestionRunRepository.ts
  packages/storage/src/clickhouse/repositories/OhlcvRepository.ts
  packages/storage/src/clickhouse/services/OhlcvDedupService.ts
  packages/storage/src/clickhouse/types/quality-score.ts
  packages/storage/src/clickhouse/validation/candle-validator.ts
  packages/storage/src/engine/StorageEngine.ts
  packages/storage/src/index.ts
  packages/storage/src/utils/git-info.ts
  packages/storage/src/utils/version-info.ts
  packages/storage/tests/unit/candle-validator.test.ts
  packages/storage/tests/unit/quality-score.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Add dashboard quick start guide
  docs/fixes/ohlcv-pipeline-fix-2026-01-12.md
  packages/backtest/src/runPathOnly.test.ts
  packages/cli/src/handlers/backtest/v1-baseline-optimizer.ts
  packages/cli/tests/unit/error-handler.test.ts
  packages/cli/tests/unit/handlers/ohlcv/analyze-coverage.test.ts
  packages/cli/tests/unit/handlers/slices/export-slices-for-alerts.test.ts
  packages/infra/src/api-clients/birdeye-client.ts
  packages/ingestion/tests/unit/ohlcv-work-planning.test.ts
  packages/lab/package.json
  packages/simulation/package.json
  packages/storage/src/adapters/clickhouse-slice-exporter-adapter-impl.ts
  packages/storage/src/clickhouse/schemas/ohlcv-candles-1m.sql
  packages/storage/src/clickhouse/schemas/ohlcv-candles-5m.sql
  packages/storage/tests/unit/StorageEngine.test.ts
  packages/storage/tests/unit/repositories/OhlcvRepository.security.test.ts
  packages/utils/src/test-helpers/test-environment-setup.test.ts
  packages/utils/src/test-helpers/test-environment-setup.ts
  packages/utils/tests/EventMiddleware.test.ts
  packages/utils/tests/integration/python-bridge.test.ts
  packages/workflows/tests/unit/slices/exportSlicesForAlerts.test.ts
  pnpm-lock.yaml
  runs/2026-01/run_id=20ac5d95-4ecd-405a-a0cf-41803bb4dfc0/run.json
  runs/2026-01/run_id=42f1115f-f101-40fd-adb5-ac6056c95c2f/run.json
  runs/2026-01/run_id=4aa32781-bc88-4ea1-8611-562777042977/run.json
  runs/2026-01/run_id=526d19db-dff0-4e6f-a977-75a8aa4939b5/run.json
  runs/2026-01/run_id=b7cc5bd4-9f41-4bcc-bac1-9a178ad12a2e/run.json
  runs/2026-01/run_id=c82bfe70-1b97-419c-9688-0250be334907/run.json
  runs/2026-01/run_id=e5ad1cf0-dd7b-4205-8d42-7fbc72bf0c36/run.json
  runs/2026-01/run_id=ec25b19a-737d-48aa-87e1-024fae0dbfb3/run.json
  tests/integration-ohlcv-dedup-simple.mjs
  tests/integration-ohlcv-dedup.ts
  tests/test-ohlcv-cli.mjs
  tools/backtest/DASHBOARD_QUICKSTART.md
  tools/simulation/duckdb_storage/main.py
  tools/simulation/duckdb_storage/ops/query_ohlcv_exclusions.py
  tools/simulation/duckdb_storage/ops/query_ohlcv_metadata.py
  tools/simulation/duckdb_storage/ops/state_ops.py
  tools/telegram/duckdb_punch_pipeline.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

fix: resolve test failures across multiple test suites
  packages/cli/tests/unit/handlers/slices/export-slices-for-alerts.test.ts
  packages/infra/src/utils/bus/artifact-bus.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

test(jobs): update mocks for OHLCV run tracking methods
  packages/jobs/tests/golden/ohlcv-ingestion-engine.golden.test.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(jobs): wire run manifest into candle storage
  MIGRATION_COMPLETE.md
  docs/implementation/ohlcv-run-tracking-integration.md
  output/.~lock.dune.csv#
  output/dune.csv
  packages/cli/tests/integration/handlers/ingest-ohlcv.integration.test.ts
  packages/cli/tests/integration/handlers/stats-storage.integration.test.ts
  packages/cli/tests/unit/core/results-writer.test.ts
  packages/ingestion/src/OhlcvIngestionService.ts
  packages/jobs/src/ohlcv-ingestion-engine.ts
  packages/jobs/tests/golden/ohlcv-ingestion-engine.golden.test.ts
  packages/jobs/tests/unit/ohlcv-ingestion-engine.test.ts
  packages/utils/src/test-helpers/index.ts
  packages/workflows/src/ohlcv/analyzeCoverage.ts
  runs/2026-01/run_id=1a50e6f9-32aa-4ef8-af19-1fb10c94dcf6/run.json
  runs/2026-01/run_id=1e8bfe51-1e57-4b94-ba42-bcc6303e79ef/run.json
  runs/2026-01/run_id=45f52729-9456-4f3f-b7e1-f685a0bda407/_SUCCESS
  runs/2026-01/run_id=45f52729-9456-4f3f-b7e1-f685a0bda407/run.json
  runs/2026-01/run_id=5c8b5ddf-4860-49c7-a0af-753e0faf5d0f/_SUCCESS
  runs/2026-01/run_id=5c8b5ddf-4860-49c7-a0af-753e0faf5d0f/run.json
  runs/2026-01/run_id=61a8e055-a44c-4278-9c5c-86e707a72ce2/run.json
  runs/2026-01/run_id=74802ed7-76fe-4394-ae0c-10db899b35b9/run.json
  runs/2026-01/run_id=785aedc9-a9fa-4322-ad20-d39dbd3cb454/run.json
  runs/2026-01/run_id=8608a5c0-0e05-4e69-b9df-8cb8c8e3bad8/_SUCCESS
  runs/2026-01/run_id=8608a5c0-0e05-4e69-b9df-8cb8c8e3bad8/run.json
  runs/2026-01/run_id=a189618a-dd93-4aed-9fdd-d7c6a7bafab6/_SUCCESS
  runs/2026-01/run_id=a189618a-dd93-4aed-9fdd-d7c6a7bafab6/run.json
  runs/2026-01/run_id=ac4901e9-148c-4da1-8b19-af16878ffd16/_SUCCESS
  runs/2026-01/run_id=ac4901e9-148c-4da1-8b19-af16878ffd16/run.json
  scripts/test/setup-test-environments.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(jobs): track validation stats in OHLCV ingestion runs
  packages/ingestion/src/OhlcvIngestionService.ts
  packages/jobs/src/ohlcv-ingestion-engine.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(cli): add OHLCV deduplication and run tracking commands
  packages/cli/src/commands/ohlcv.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(storage): handle OPTIMIZE privilege errors gracefully in dedup sweep
  packages/storage/src/clickhouse/services/OhlcvDedupService.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

chore: remove large files from git tracking
  .gitignore
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: *.ts
  vitest related --run --reporter=verbose: any of: *.ts
  sql-formatter --fix: any of: *.sql
