Repository curlyjoeyaknow/quantBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "vitest related --run --reporter=verbose"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": ["sql-formatter --fix"]
}

fix: Update test scripts to match catalog schema (remove kind column)
  scripts/query_catalog.py
  scripts/test_bus.py
  scripts/verify_bus_integration.sh
Due: none

feat: add v1-baseline optimizer with per-caller mode and min-calls filter
  config.yaml
  packages/backtest/package.json
  packages/backtest/src/optimization/capital-simulator.ts
  packages/backtest/src/optimization/policy-optimizer.ts
  packages/backtest/src/optimization/scoring.ts
  packages/backtest/src/optimization/v1-baseline-optimizer.ts
  packages/backtest/src/policies/risk-policy.ts
  packages/cli/src/command-defs/backtest.ts
  packages/cli/src/commands/backtest.ts
  packages/cli/src/handlers/backtest/v1-baseline-optimizer.ts
  pnpm-lock.yaml
  scripts/OPTIMIZATION-WORKFLOW.md
  scripts/optimize-be-bailout-README.md
  scripts/optimize-be-bailout.ts
  scripts/store-be-bailout-strategies.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): add V1 baseline optimizer with capital-aware simulation
  packages/backtest/src/index.ts
  packages/backtest/src/optimization/capital-simulator.ts
  packages/backtest/src/optimization/v1-baseline-optimizer.ts
  packages/cli/src/commands/backtest.ts
  packages/cli/src/handlers/backtest/v1-baseline-optimizer.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(storage): use read-only DuckDB connections for query operations
  tools/simulation/duckdb_storage/main.py
Due: none

fix(storage): remove unsupported busy_timeout pragma from DuckDB connections
  tools/shared/duckdb_adapter.py
  tools/storage/duckdb_direct_sql.py
Due: none

feat(backtest): Add structured artifacts system with month-partitioned Parquet storage
  CHANGELOG.md
  docs/architecture/ARTIFACTS_IMPLEMENTATION.md
  docs/architecture/structured-artifacts.md
  docs/guides/structured-artifacts-quickstart.md
  examples/structured-artifacts-demo.ts
  packages/backtest/src/artifacts/catalog.ts
  packages/backtest/src/artifacts/index.ts
  packages/backtest/src/artifacts/types.ts
  packages/backtest/src/artifacts/writer.ts
  packages/backtest/src/index.ts
  packages/backtest/src/runPathOnly.ts
  packages/backtest/src/runPolicyBacktest.ts
  packages/cli/src/handlers/backtest/catalog-query.ts
  packages/cli/src/handlers/backtest/catalog-sync.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs: Add next steps completion summary
  docs/architecture/NEXT_STEPS_COMPLETE.md
Due: prettier --write

fix(simulation): Remove unused @ts-expect-error directive
  packages/simulation/src/duckdb-storage-service.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): Complete structured artifacts implementation
  packages/backtest/package.json
  packages/backtest/src/artifacts/catalog.ts
  packages/backtest/src/artifacts/types.ts
  packages/backtest/src/optimization/frontier-writer.ts
  packages/backtest/src/runPathOnly.ts
  packages/backtest/src/runPolicyBacktest.ts
  pnpm-lock.yaml
  tools/backtest/generate-drilldown-report.py
  tools/backtest/report_server.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs(backtest): Add structured artifacts fixes documentation
  docs/architecture/structured-artifacts-fixes.md
Due: prettier --write

docs(backtest): Add comprehensive structured artifacts status document
  DATABASE_RESTORATION_SUMMARY.md
  docs/architecture/structured-artifacts-status.md
  packages/backtest/src/optimization/frontier-writer.ts
  packages/infra/src/utils/config/index.ts
  packages/utils/src/config/index.ts
  restore_database_complete.sql
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose, sql-formatter --fix

feat(storage): add candle deduplication system with ingestion tracking
  CHANGELOG.md
  docs/guides/CANDLE_DEDUPLICATION_SUMMARY.md
  docs/guides/candle-deduplication-quickstart.md
  docs/guides/candle-deduplication.md
  packages/cli/src/commands/storage.ts
  packages/cli/src/handlers/storage/analyze-duplicate-candles.ts
  packages/cli/src/handlers/storage/deduplicate-candles.ts
  packages/storage/src/clickhouse-client.ts
  packages/storage/src/clickhouse/repositories/OhlcvRepository.ts
  tools/storage/generate_candle_ingestion_report.py
  tools/storage/migrate_add_ingestion_metadata.py
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(storage): add comprehensive candle quality analysis and re-ingestion worklist
  CHANGELOG.md
  docs/guides/candle-quality-analysis.md
  packages/cli/src/commands/storage.ts
  packages/cli/src/handlers/storage/analyze-candle-quality.ts
  tools/storage/analyze_candle_quality.py
  tools/storage/process_reingest_worklist.sh
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

docs(storage): add candle quality analysis quick start guide
  docs/guides/CANDLE_QUALITY_QUICKSTART.md
Due: prettier --write

fix(storage): remove unsupported busy_timeout pragma from Node.js DuckDB client
  packages/storage/src/adapters/duckdb/duckdbClient.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): Fix catalog tests - 13/14 passing!
  packages/backtest/src/artifacts/catalog.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

fix(storage): fix candle quality analyzer to work with interval_seconds column
  tools/storage/analyze_candle_quality.py
Due: none

feat(backtest): implement Python V1 baseline optimizer
  CHANGELOG.md
  docs/architecture/python-v1-baseline-optimizer-implementation.md
  docs/guides/WORKLIST_VERIFICATION.md
  docs/reviews/v1-baseline-optimizer-policy-violation.md
  tools/backtest/lib/run_mode.py
  tools/backtest/lib/v1_baseline_optimizer.py
  tools/backtest/lib/v1_baseline_simulator.py
  tools/backtest/run_v1_baseline_optimizer.py
  tools/backtest/tests/test_v1_baseline_golden.py
  tools/backtest/tests/test_v1_baseline_optimizer.py
  tools/backtest/tests/test_v1_baseline_simulator.py
  tools/storage/analyze_candle_quality.py
Due: prettier --write

docs: Update CHANGELOG with TypeScript orchestration layer completion
  CHANGELOG.md
Due: prettier --write

docs: Add TypeScript ↔ Python orchestration completion documentation
  docs/architecture/typescript-python-orchestration-complete.md
Due: prettier --write

feat(backtest): add python/ directory structure
  packages/backtest/python/__init__.py
  packages/backtest/python/lib/__init__.py
  packages/backtest/python/requirements.txt
  packages/backtest/python/scripts/__init__.py
  packages/ingestion/python/__init__.py
  packages/ingestion/python/requirements.txt
  packages/storage/python/__init__.py
  packages/storage/python/requirements.txt
Due: none

refactor: migrate tools/shared to packages/backtest/python/shared
  packages/backtest/python/shared/README.md
  packages/backtest/python/shared/__init__.py
  packages/backtest/python/shared/datetime_controller.py
  packages/backtest/python/shared/duckdb_adapter.py
  packages/backtest/python/shared/examples/progress_bar_example.py
  packages/backtest/python/shared/progress_bar.py
Due: prettier --write

refactor(backtest): migrate tools/backtest scripts to packages/backtest/python/scripts
  packages/backtest/python/scripts/run_baseline.py
  packages/backtest/python/scripts/run_caller_analysis.py
  packages/backtest/python/scripts/run_fast_backtest.py
  packages/backtest/python/scripts/run_optimizer.py
  packages/backtest/python/scripts/token_slicer.py
Due: none

feat(backtest): add BaselineBacktestService for Python integration
  packages/backtest/src/services/baseline-backtest-service.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): add TokenSlicerService for Python slice export
  packages/backtest/src/services/token-slicer-service.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): add CallerAnalysisService for Python caller analysis
  packages/backtest/src/services/caller-analysis-service.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(backtest): export new Python services from package
  packages/backtest/src/index.ts
  packages/backtest/src/services/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat(cli): add new Python services to CommandContext
  packages/cli/src/core/command-context.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

feat: Add +EV analysis for post-2x trailing stops
  CHANGELOG.md
  tools/backtest/post2x_drawdown_analysis.py
Due: prettier --write

feat(cli): add Python backtest handlers (baseline, token-slicer, caller-analysis)
  packages/cli/src/handlers/backtest/baseline-python.ts
  packages/cli/src/handlers/backtest/caller-analysis.ts
  packages/cli/src/handlers/backtest/token-slicer.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

test(backtest): add integration tests for Python services
  packages/backtest/src/services/__tests__/baseline-backtest-service.integration.test.ts
  packages/backtest/src/services/__tests__/caller-analysis-service.integration.test.ts
  packages/backtest/src/services/__tests__/token-slicer-service.integration.test.ts
  packages/backtest/src/services/__tests__/v1-baseline-python-service.integration.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, vitest related --run --reporter=verbose

refactor(storage): migrate tools/storage/ to packages/storage/python/
  packages/storage/python/COVERAGE_MATRIX_README.md
  packages/storage/python/analyze_candle_quality.py
  packages/storage/python/compute_ath_metrics.py
  packages/storage/python/coverage_matrix_schema.sql
  packages/storage/python/create_token_lifespan_table.sql
  packages/storage/python/duckdb_artifacts.py
  packages/storage/python/duckdb_callers.py
  packages/storage/python/duckdb_direct_sql.py
  packages/storage/python/duckdb_errors.py
  packages/storage/python/duckdb_experiments.py
  packages/storage/python/duckdb_full_schema.sql
  packages/storage/python/duckdb_run_events.py
  packages/storage/python/duckdb_simulation_runs.py
  packages/storage/python/duckdb_simulation_runs_README.md
  packages/storage/python/duckdb_strategies.py
  packages/storage/python/duckdb_token_data.py
  packages/storage/python/generate_candle_ingestion_report.py
  packages/storage/python/migrate_add_ingestion_metadata.py
  packages/storage/python/migrate_chains_clickhouse.py
  packages/storage/python/migrate_normalize_chains.sql
  packages/storage/python/migrate_normalize_chains_simple.sql
  packages/storage/python/normalize_chain_names.py
  packages/storage/python/normalize_chains_duckdb.py
  packages/storage/python/ohlcv_horizon_coverage_matrix.py
  packages/storage/python/populate_coverage_matrix.py
  packages/storage/python/process_reingest_worklist.sh
  packages/storage/python/query_evm_tokens.py
  packages/storage/python/query_horizon_coverage.py
  packages/storage/python/test_duckdb_simulation_runs.py
  packages/storage/python/update_chain_duckdb.py
Due: prettier --write, sql-formatter --fix
